# Cleaning

In [1]:
import pandas as pd
import numpy as np
import requests

## contest.list

In [22]:
data=requests.get("https://codeforces.com/api/contest.list?").json()
data1=pd.DataFrame(data['result'])
data1

,id,name,type,phase,frozen,durationSeconds,startTimeSeconds,relativeTimeSeconds
0,1827,Codeforces Round (Div. 1),CF,BEFORE,False,7200,1684074900,-949183
1,1828,Codeforces Round (Div. 2),CF,BEFORE,False,7200,1684074900,-949185
2,1832,Educational Codeforces Round 148 (Rated for Di...,ICPC,BEFORE,False,7200,1683902100,-776383
3,1824,Codeforces Round (Div. 1),CF,BEFORE,False,7200,1683547500,-421783
4,1825,Codeforces Round (Div. 2),CF,BEFORE,False,7200,1683547500,-421783
...,...,...,...,...,...,...,...,...
1734,5,Codeforces Beta Round 5,ICPC,FINISHED,False,7200,1269100800,414024918
1735,4,Codeforces Beta Round 4 (Div. 2 Only),ICPC,FINISHED,False,7200,1268395200,414730518
1736,3,Codeforces Beta Round 3,ICPC,FINISHED,False,7200,1267963200,415162517
1737,2,Codeforces Beta Round 2,ICPC,FINISHED,False,7200,1267117200,416008518
1738,1,Codeforces Beta Round 1,ICPC,FINISHED,False,7200,1266580800,416544918

In [23]:
data1.columns

Index(['id', 'name', 'type', 'phase', 'frozen', 'durationSeconds',
       'startTimeSeconds', 'relativeTimeSeconds'],
      dtype='object')

In [24]:
data1.drop(data1.index[data1['phase'] == 'BEFORE'], inplace = True)
data1.drop(data1.index[data1['phase'] == 'PENDING_SYSTEM_TEST'], inplace = True)
data1.drop(['type', 'frozen', 'startTimeSeconds','relativeTimeSeconds' ,'phase'], axis = 1, inplace = True)

In [25]:
data1['durationSeconds'] =  data1['durationSeconds']//60

In [26]:
data1.rename(columns={'durationSeconds': 'durationminutes'},
          inplace=True, errors='raise')

In [27]:
data1

        id                                               name  durationminutes
7     1817                      Codeforces Round 869 (Div. 1)              135
8     1818                      Codeforces Round 869 (Div. 2)              135
9     1823                      Codeforces Round 868 (Div. 2)              120
10    1822                      Codeforces Round 867 (Div. 3)              135
11    1821  Educational Codeforces Round 147 (Rated for Di...              120
...    ...                                                ...              ...
1734     5                            Codeforces Beta Round 5              120
1735     4              Codeforces Beta Round 4 (Div. 2 Only)              120
1736     3                            Codeforces Beta Round 3              120
1737     2                            Codeforces Beta Round 2              120
1738     1                            Codeforces Beta Round 1              120

[1730 rows x 3 columns]

# contest.rating changes

In [92]:
max_value = data1['id'].to_numpy().max()
data=requests.get("https://codeforces.com/api/contest.ratingChanges?contestId=1").json()
data2=pd.DataFrame(data['result'])
data2.drop(['ratingUpdateTimeSeconds'], axis = 1, inplace = True) 

for i in range(2,10):
    data=requests.get("https://codeforces.com/api/contest.ratingChanges?contestId="+ str(i)).json()
    data_n=pd.DataFrame(data['result'])
    data_n.drop(['ratingUpdateTimeSeconds'], axis = 1, inplace = True) 

    frames = [data2, data_n]
    data2 = pd.concat(frames)

In [93]:
data2

,contestId,contestName,handle,rank,ratingUpdateTimeSeconds,oldRating,newRating
0,1,Codeforces Beta Round 1,vepifanov,1,1266588000,1500,1600
1,1,Codeforces Beta Round 1,Orfest,2,1266588000,1500,1597
2,1,Codeforces Beta Round 1,NALP,3,1266588000,1500,1593
3,1,Codeforces Beta Round 1,forest,4,1266588000,1500,1590
4,1,Codeforces Beta Round 1,rem,5,1266588000,1500,1580
...,...,...,...,...,...,...,...
252,9,Codeforces Beta Round 9 (Div. 2 Only),TSAM,251,1270990800,1500,1386
253,9,Codeforces Beta Round 9 (Div. 2 Only),nep1965,251,1270990800,1500,1386
254,9,Codeforces Beta Round 9 (Div. 2 Only),humaneitor,251,1270990800,1500,1386
255,9,Codeforces Beta Round 9 (Div. 2 Only),Hernan,251,1270990800,1500,1386
256,9,Codeforces Beta Round 9 (Div. 2 Only),Alisher2,251,1270990800,1500,1386